<form class="<%= form_type %>-pet-form" >
  <input type="hidden" name="report[report_type]" value="<%= form_type %>">
  <input type="hidden" class="img_url" name="report[img_url]" value="">
  <input type="hidden" name="report[user_id]" value="<%= @user_id %>">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <div class="image-upload-preview">
        </div><!-- image-upload-preview -->
        <input type="file" class="directUpload">
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="sr-only" for="report[animal_type]">Pet Type:</label>
        <select name="report[animal_type]" class="form-control">
          <option value="">Pet Type</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="bird">Bird</option>
          <option value="reptile">Reptile</option>
          <option value="other">Other</option>
        </select>
      </div><!-- form-group -->
    </div><!-- col -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="sr-only" for="report[sex]">Gender:</label>
        <select name="report[sex]" class="form-control">
          <option value="">Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="sr-only" for="report[pet_size]">Pet Size:</label>
        <select name="report[pet_size]" class="form-control">
          <option value="">Size</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="x-large">Extra Large</option>
        </select>
      </div><!-- form-group -->
    </div><!-- col -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="sr-only" for="report[age]">Age:</label>
        <select name="report[age]" class="form-control">
          <option value="">Age</option>
          <option value="Baby">Baby</option>
          <option value="young">Young</option>
          <option value="adult">Adult</option>
          <option value="senior">Senior</option>
        </select>
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="sr-only" for="report[breed]">Breed:</label>
        <input type="text" class="form-control" id="<%= form_type %>-pet-breed" placeholder="Pet Breed" name="report[breed]">
      </div><!-- form-group -->
    </div><!-- col -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="sr-only" for="report[color]">Color:</label>
        <input type="text" class="form-control" id="<%= form_type %>-pet-color" placeholder="Pet Color" name="report[color]">
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- row -->
  <% if form_type == "lost" %>
    <!-- include name field if lost report -->
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label class="sr-only" for="report[tag_list]">Tags:</label>
          <input type="text" class="form-control" id="<%= form_type %>-pet-tags" placeholder="Additional Tags, i.e. timid, brown ears" name="report[tag_list]">
        </div><!-- form-group -->
      </div><!-- col -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label class="sr-only" for="report[pet_name]">Pet Name:</label>
          <input type="text" class="form-control" id="<%= form_type %>-pet-name" placeholder="Pet Name" name="report[pet_name]">
        </div><!-- form-group -->
      </div><!-- col -->
    </div><!-- row -->
  <% else %>
    <!-- omit name field if found report -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <label class="sr-only" for="report[tag_list]">Tags:</label>
          <input type="text" class="form-control" id="<%= form_type %>-pet-tags" placeholder="Additional Tags, i.e. timid, brown ears" name="report[tag_list]">
        </div><!-- form-group -->
      </div><!-- col -->
    </div><!-- row -->
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <label class="sr-only" for="report[last_seen]">Last Seen:</label>
        <input placeholder="Last Seen" class="form-control" type="text" id="<%= form_type %>-last-seen-placeholder">
        <input class="form-control" type="datetime-local" id="<%= form_type %>-last-seen" name="report[last_seen]" style="display: none">
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <label class="sr-only" for="report[notes]">Notes:</label>
        <textarea name="report[notes]" class="form-control" id="<%= form_type %>-pet-notes" cols="30" rows="7" placeholder="Describe the incident"></textarea>
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- row -->
  <input class="hidden-lat-field" type="hidden" name="report[lat]" value="">
  <input class="hidden-lng-field" type="hidden" name="report[lng]" value="">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="<%= form_type %>-map-canvas" class="map-canvas">
      </div><!-- map-canvas -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- row -->
</form>