<form class="<%= form_type %>-pet-form" >
  <input type="hidden" name="report[report_type]" value="<%= form_type %>">
  <input type="hidden" class="img_url" name="report[img_url]" value="">
  <input type="hidden" name="report[user_id]" value="<%= @user_id %>">

  <div class="padded">
    <input type="file" class="directUpload">
  </div>


  <div class="form-group">
    <select name="report[animal_type]" class="form-control">
      <option value="">Pet Type</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="bird">Bird</option>
      <option value="reptile">Reptile</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <select name="report[sex]" class="form-control">
      <option value="">Sex</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div class="form-group">
    <select name="report[size]" class="form-control">
      <option value="">Size</option>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
      <option value="x-large">Extra Large</option>
    </select>
  </div>
  <div class="form-group">
    <select name="report[age]" class="form-control">
      <option value="">Age</option>
      <option value="Baby">Baby</option>
      <option value="young">Young</option>
      <option value="adult">Adult</option>
      <option value="senior">Senior</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="<%= form_type %>-pet-breed" placeholder="Pet Breed" name="report[breed]">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="<%= form_type %>-pet-color" placeholder="Pet Color" name="report[color]">
  </div>

  <% if form_type == "lost" %>
    <!-- include name field if lost report -->
    <div class="form-group">
      <input type="text" class="form-control" id="<%= form_type %>-pet-tags" placeholder="Additional Tags, i.e. timid, brown ears" name="report[all_tags]">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="<%= form_type %>-pet-name" placeholder="Pet Name" name="report[pet_name]">
    </div>
  <% else %>
    <!-- omit name field if found report -->
    <div class="padded">
      <input type="text" class="form-control" id="<%= form_type %>-pet-tags" placeholder="Additional Tags, i.e. timid, brown ears" name="report[all_tags]">
    </div>
  <% end %>

  <div class="padded">
    <input placeholder="Last Seen" class="form-control" type="text" id="<%= form_type %>-last-seen-placeholder">
    <input class="form-control" type="datetime-local" id="<%= form_type %>-last-seen" name="report[last_seen]" style="display: none">
  </div>

  <div class="padded">
    <textarea name="report[notes]" class="form-control" id="<%= form_type %>-pet-notes" cols="30" rows="7" placeholder="Describe the incident"></textarea>
  </div>

  <div class="form-group">
    <input class="hidden-lat-field" type="hidden" name="report[lat]" value="">
  </div>
  <div class="form-group">
    <input class="hidden-lng-field" type="hidden" name="report[lng]" value="">
  </div>
  <div id="<%= form_type %>-map-canvas" class="map-canvas">
  </div>

  <div class="padded">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

</form>