<div class="sidebar-container">
  <%= erb :'partials/_sidebar' %>
</div>
<div class="container">
  <div class='notification'>
    <ul>
    </ul>
  </div><!-- class="notification" -->
  <div class="row first-panel">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div><!-- class="col-xs-2 col-sm-2 col-md-2 col-lg-2" -->
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 logo-section">
      <img src="/images/FuzzFinders_Logo_med.png" alt="Fuzz Finders" id="main-logo">
    </div><!-- class="col-xs-8 col-sm-8 col-md-8 col-lg-8 logo-section" -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 wags-section">
      <p>Wags</p>
      <p class="wags"><%= @wags %></p>
    </div><!-- class="col-xs-2 col-sm-2 col-md-2 col-lg-2 wags-section" -->
  </div><!-- class="row first-panel" -->
  <div class="option-buttons">
    <div class="row">
      <button class="btn-block main-buttons fuzzfinders-buttons lost-pet">Lost a Pet</button>
      <div id="lost-pet">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "lost" } %>
      </div><!-- id="lost-pet" -->
    </div><!-- class="row" -->
    <div class="row">
      <button class="btn-block main-buttons fuzzfinders-buttons found-pet">Found a Pet</button>
      <div id="found-pet">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "found" } %>
      </div><!-- id="found-pet" -->
    </div><!-- class="row" -->
    <div class="row">
      <button class="btn-block main-buttons fuzzfinders-buttons report-btn">Reports</button>
      <div id="reports-map-container">
        <div class="report-map-legend">
          <ul>
            <li>
              <img src="/images/FuzzFinders_icon_orange.png" alt="Fuzzfinders lost pet icon"> Lost Pet Report
            </li>
            <li>
              <img src="/images/FuzzFinders_icon_blue.png" alt="Fuzzfinders found pet icon"> Found Pet Report
            </li>
          </ul>
        </div><!-- class="report-map-legend" -->
        <div id="report-map-canvas" class="map-canvas">
        </div><!-- id="report-map-canvas" class="map-canvas" -->
        <%= erb :'partials/_report_filter', :layout => false %>
        <%= erb :'partials/_report_list', :layout => false %>
      </div><!-- id="reports-map-container" -->
    </div><!-- class="row" -->
  </div><!-- class="option-buttons" -->
  <%= @user %>
</div><!-- class="container" -->
