<%= erb :'partials/_navbar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_sidebar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_notification', :layout => false %>
<div class="container chat-padding _need-notifications">
  <div class="row first-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 logo-section">
      <img src="/images/FuzzFinders_Logo_med.png" alt="FuzzFinders Logo" id="main-logo">
    </div><!-- col logo-section -->
  </div><!-- row first-panel -->
  <div class="row second-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons lost-pet">Lost a Pet</button>
      <div id="lost-pet">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "lost" } %>
      </div><!-- #lost-pet -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row third-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons found-pet">Found a Pet</button>
      <div id="found-pet">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "found" } %>
      </div><!-- #found-pet -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row fourth-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons report-btn">Reports</button>
      <div id="reports-map-container">
        <%= erb :'partials/_report_map_legend', :layout => false %>
        <div id="report-map-canvas" class="map-canvas">
        </div><!-- #report-map-canvas map-canvas -->
        <%= erb :'partials/_report_filter', :layout => false %>
        <%= erb :'partials/_report_list', :layout => false %>
      </div><!-- #reports-map-container -->
    </div><!-- col -->
  </div><!-- row -->
  <%= @user %>
</div><!-- container -->
