<div class="sidebar-container">
  <%= erb :'partials/_sidebar' %>
</div>
<div class="container">
  <div class='notification'>
  </div>
  <div class="row first-panel">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 logo-section">
      <img src="/images/FuzzFinders_Logo_med.png" alt="Fuzz Finders" id="main-logo">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 wags-section">
      <p>Wags</p>
      <p class="wags"><%= @wags %></p>
    </div>
  </div>
  <div class="option-buttons">
    <div class="row">
      <button class="btn-block main-buttons lost-pet">Lost a Pet</button>
      <div id="lost-pet">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "lost" } %>
      </div>
    </div>
    <div class="row">
      <button class="btn-block main-buttons found-pet">Found a Pet</button>
      <div id="found-pet">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "found" } %>
      </div>
    </div>
    <div class="row">
      <button class="btn-block main-buttons report report-btn">Reports</button>
      <div id="reports-map-container">
        <input id="pac-input" class="controls" type="text" placeholder="Search near a location">
        <div id="report-map-canvas" class="map-canvas">
        </div>
        <%= erb :'partials/_report_list', :layout => false, :locals => { :form_type => "found" } %>
      </div>
    </div>
  </div>
  <%= @user %>
</div>