<%= erb :'partials/_navbar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_sidebar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_notification', :layout => false %>
<div class="container">
  <div class="row first-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 logo-section">
      <img src="/images/FuzzFile_Logo_med.png" alt="FuzzFile Logo" id="main-logo">
    </div><!-- col logo-section -->
  </div><!-- row first-panel -->
  <div class="row second-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <p>Username: <%= @user["username"] %></p>
      <p>Email: <%= @user["email"] %></p>
      <p>Zipcode: <%= @user["zipcode"] %></p>
    </div>
  </div>
</div>