<!-- Modal -->
<div class="modal fade" id="reportDetailsModal" tabindex="-1" role="dialog" aria-labelledby="reportDetailsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css" media="all">
  .my-animation {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .my-animation.ng-hide {
    opacity:0;
  }

  .thumb {
    height: 200px;
    float: none;
    position: relative;
    top: 7px;
    margin: 5px;
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
</style>

<% content_for :scripts do %>
  <script src="/vendor/bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/angular-animate/angular-animate.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/angular-cookies/angular-cookies.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/pusher-angular/lib/pusher-angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/ng-file-upload/ng-file-upload-all.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript" charset="utf-8"></script>

  <script src="/vendor/bower_components/blockUI/jquery.blockUI.js" type="text/javascript" charset="utf-8"></script>

  <!-- !!! -->


  <script src="/js/fuzzapp/app.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/fuzzapp/modules/fuzzFinders.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/fuzzapp/modules/notifications.js" type="text/javascript" charset="utf-8"></script>

  <!-- <script type="text/javascript" charset="utf&#45;8"> -->
  <!--   // notifications -->
  <!--   var notificationsModule = angular.module('notificationsModule', []); -->
  <!--   notificationsModule.directive('app&#45;nofitications', function () { -->
  <!--     return { -->
  <!--       restrict: 'E', -->
  <!--       template: '<h1>notifications</h1>', -->
  <!--       // templateUrl: '/js/fuzzapp/modules/notifications/templates/index.html' -->
  <!--     } -->
  <!--   }).controller('NotificationsController', ['$scope', function ($scope) { -->
  <!--  -->
  <!--   }]); -->
  <!-- </script> -->
<% end %>

<% content_for :ng_app do %>
  <%= 'ng-app="fuzzapp"' %>
<% end %>


<%= erb :'partials/_navbar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_sidebar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_notification', :layout => false %>
<div class="ng-cloak container chat-padding _need-notifications" ng-controller="MenuController">
<!-- <div class="ng&#45;cloak container chat&#45;padding _need&#45;notifications" ng&#45;app="fuzzFindersModule" ng&#45;controller="MenuController"> -->
  <div class="row first-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 logo-section">
      <img src="/images/FuzzFinders_Logo_med.png" alt="FuzzFinders Logo" id="main-logo">
    </div><!-- col logo-section -->
  </div><!-- row first-panel -->
  <div class="row second-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons lost-pet" ng-click="changeSection('lostSection')">Lost a Pet</button>
      <div id="lost-pet" class="my-animation" ng-show="currentSection == 'lostSection'" ng-controller="PetController">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "lost" } %>
      </div><!-- #lost-pet -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row third-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons found-pet" ng-click="changeSection('foundSection')">Found a Pet</button>
      <div class="my-animation" id="found-pet" ng-show="currentSection == 'foundSection'" ng-controller="PetController">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "found" } %>
      </div><!-- #found-pet -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row fourth-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons report-btn" ng-click="changeSection('reportsSection')">Reports</button>
      <div class="my-animation" id="reports-map-container" ng-show="currentSection == 'reportsSection'" ng-controller="ReportsController">
        <%= erb :'partials/_report_map_legend', :layout => false %>
        <div id="report-map-canvas" class="map-canvas">
        </div><!-- #report-map-canvas map-canvas -->
        <%= erb :'partials/_report_filter', :layout => false %>
        <%= erb :'partials/_report_list', :layout => false %>
      </div><!-- #reports-map-container -->
    </div><!-- col -->
  </div><!-- row -->
  <%= @user %>
</div><!-- container -->
