<!-- Modal -->
<div class="modal fade" id="reportDetailsModal" tabindex="-1" role="dialog" aria-labelledby="reportDetailsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css" media="all">
  .my-animation {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .my-animation.ng-hide {
    opacity:0;
  }

  .thumb {
    height: 200px;
    float: none;
    position: relative;
    top: 7px;
    margin: 5px;
  }
</style>

<% content_for :scripts do %>
  <script src="/vendor/bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/angular-animate/angular-animate.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/ng-file-upload/ng-file-upload-all.js" type="text/javascript" charset="utf-8"></script>
  <script src="/vendor/bower_components/blockUI/jquery.blockUI.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">
    var fuzzFindersModule = angular.module('fuzzFindersModule', ['ngAnimate', 'ngFileUpload']);

    fuzzFindersModule.config(['$httpProvider', function($httpProvider) {
      $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    }]);

    fuzzFindersModule.controller('MenuController', ['$rootScope', '$scope', function ($rootScope, $scope) {
      $rootScope.$on('change-section', function (event, currentSection) {
        $scope.currentSection = currentSection;
      });

      $scope.changeSection = function (section) {
        console.log('MenuController changeSection()')
        if (section == $scope.currentSection) {
          $scope.currentSection = null;
        } else {
          $scope.currentSection = section;
        }

        $rootScope.$broadcast('section-changed', $scope.currentSection);

        // if ($scope.currentSection == 'lostSection') {
        //   google.maps.event.addDomListener(
        //     lostPetBtn,
        //     'click',
        //     $scope.initializeMap(lostMap, 'lost-map-canvas', '/images/FuzzFinders_icon_orange.png'));
        //
        // };
      };
    }]);

    fuzzFindersModule.controller('PetController', ['$rootScope', '$scope', 'Upload', '$http', function ($rootScope, $scope, Upload, $http) {
      $scope.maps = [];

      $scope.report = {};
      $scope.lostMap = null; $scope.foundMap = null;


      var initializeMap = function (mapName, canvasDivId, iconUrl) {
        var mapOptions = {
          zoom: 14,
          center: new google.maps.LatLng(37.7848676, -122.3978871),
          streetViewControl: false,
          mapTypeControl: false,
          scrollwheel: false,
          draggable: false,
        };

        mapName = new google.maps.Map(document.getElementById(canvasDivId), mapOptions);

        $scope.maps.push(mapName);

        // google.maps.event.addListener(mapName, 'click', enableScrollingWithMouseWheel);

        var success = function(position) {
          var lat = parseFloat(position.coords.latitude);
          var lng = parseFloat(position.coords.longitude);

          var pos = new google.maps.LatLng(lat, lng);

          var marker = new google.maps.Marker({
            map: mapName,
            position: pos,
            icon: iconUrl,
            draggable: true,
          });

          var markerLat = marker.position.A;  //marker latitude;
          var markerLong = marker.position.F;  //marker longitude

          var posInfoWindow = new google.maps.LatLng(markerLat + .0025, markerLong + .00001);

          var infowindow = new google.maps.InfoWindow({
            map: mapName,
            position: posInfoWindow,
            content: 'Current location. Drag to location pet was last seen.'
          });

          google.maps.event.addListener(marker, 'dragend', function() {
            lat = this.getPosition().lat();
            lng = this.getPosition().lng();

            $scope.report.lat = lat; $scope.report.lng = lng;
            infowindow.close();
          });

          mapName.setCenter(pos);
          $scope.report.lat = lat; $scope.report.lng = lng;
        }

        var failure = function(error) {
          handleNoGeolocation(false, mapName);
        };

        //User's Current Location
        if (gon.latitude && gon.longitude) {
          success(
            {
              coords: { latitude: gon.latitude, longitude: gon.longitude }
            }
          )
        } else {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, function() {
              geolocator.locateByIP(success, failure, 1);
            });
          } else {
            geolocator.locateByIP(success, failure, 1);
          }
        }
      };

      $scope.submit = function (report) {
        if (report.last_seen) {
          report['last_seen'] = moment(report.last_seen).format();
        }

        $.blockUI();

        $http({
          method: 'post',
          url: myApp.fuzzfindersApiUrl + "/api/v1/reports.json?user_email=" + gon.email + '&user_token=' + gon.auth_token,
          data: { report: report }
        }).then(function (response) {
          $scope.report = {
            user_id: report.user_id,
            report_type: report.report_type
          };

          $scope.image = null;

          $.unblockUI();

          // close current section
          $rootScope.$broadcast('change-section', null);
        }, function (response) {
          $.unblockUI();
        });
      };

      // TODO: merge 2 requests into one for uploading image and sending data
      $scope.uploadImage = function (file, report) {
        $.blockUI();

        file.upload = Upload.upload({
          method: 'post',
          url: gon.api_server + '/api/v1/images.json?user_email=' + gon.email + '&user_token=' + gon.auth_token,
          data: { image: file }
        }).then(function (response) {
          if (response.status == 200) {
            $.unblockUI();

            report.img_url = response.data.image.url
          }
        });
      };

      $rootScope.$on('section-changed', function (event, currentSection) {
        if (currentSection == 'lostSection') {
          setTimeout(function () {
            initializeMap($scope.lostMap, 'lost-map-canvas', '/images/FuzzFinders_icon_orange.png');
          }, 100);
        } else if (currentSection == 'foundSection') {
          setTimeout(function () {
            initializeMap($scope.foundMap, 'found-map-canvas', '/images/FuzzFinders_icon_blue.png');
          }, 100);
        };
      });
    }]);
  </script>
<% end %>

<%= erb :'partials/_navbar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_sidebar', :layout => false, :locals => { :wags => @wags } %>
<%= erb :'partials/_notification', :layout => false %>
<div class="container chat-padding _need-notifications" ng-app="fuzzFindersModule" ng-controller="MenuController">
  <div class="row first-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 logo-section">
      <img src="/images/FuzzFinders_Logo_med.png" alt="FuzzFinders Logo" id="main-logo">
    </div><!-- col logo-section -->
  </div><!-- row first-panel -->
  <div class="row second-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons lost-pet" ng-click="changeSection('lostSection')">Lost a Pet</button>
      <div id="lost-pet" class="my-animation" ng-show="currentSection == 'lostSection'" ng-controller="PetController">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "lost" } %>
      </div><!-- #lost-pet -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row third-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons found-pet" ng-click="changeSection('foundSection')">Found a Pet</button>
      <div class="my-animation" id="found-pet" ng-show="currentSection == 'foundSection'" ng-controller="PetController">
        <%= erb :'partials/_pet_form', :layout => false, :locals => { :form_type => "found" } %>
      </div><!-- #found-pet -->
    </div><!-- col -->
  </div><!-- row -->
  <div class="row fourth-panel">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button class="btn-block main-buttons fuzzfinders-buttons report-btn" ng-click="changeSection('reportsSection')">Reports</button>
      <div class="my-animation" id="reports-map-container" ng-show="currentSection == 'reportsSection'">
        <%= erb :'partials/_report_map_legend', :layout => false %>
        <div id="report-map-canvas" class="map-canvas">
        </div><!-- #report-map-canvas map-canvas -->
        <%= erb :'partials/_report_filter', :layout => false %>
        <%= erb :'partials/_report_list', :layout => false %>
      </div><!-- #reports-map-container -->
    </div><!-- col -->
  </div><!-- row -->
  <%= @user %>
</div><!-- container -->
