<% content_for :scripts do %>
<script src="/vendor/bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/bower_components/angular-animate/angular-animate.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/bower_components/angular-cookies/angular-cookies.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/bower_components/pusher-angular/lib/pusher-angular.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/bower_components/ng-file-upload/ng-file-upload-all.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript" charset="utf-8"></script>

<script src="/vendor/bower_components/blockUI/jquery.blockUI.js" type="text/javascript" charset="utf-8"></script>

<!-- !!! -->

<script src="/vendor/bower_components/angular-moment/angular-moment.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/bower_components/lodash/lodash.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/bower_components/lodash-inflection/lib/lodash-inflection.js" type="text/javascript" charset="utf-8"></script>


<script src="/js/fuzzapp/app.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="/js/fuzzapp/modules/fuzzFinders.js" type="text/javascript" charset="utf-8"></script>-->
<script src="/js/utils.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/fuzzapp/modules/notifications.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/fuzzapp/modules/directives/reports-filter/reports-filter.js" type="text/javascript" charset="utf-8"></script>

  <style type="text/css" media="all">
    .ng-enter {
      -webkit-transition: 1s;
      transition: 1s;
      margin-left: 100%;
    }

    .ng-enter-active {
      margin-left: 0;
    }

    .ng-leave {
      -webkit-transition: 1s;
      transition: 1s;
      margin-left: 0;
    }

    .ng-leave-active {
      margin-left: 100%;
    }

    .ng-move {
      -webkit-transition: 1s;
      transition: 1s;
      background: gold;
    }

    .ng-move-active {
      background: #fff;
    }

  </style>

  <script type="text/javascript" charset="utf-8">
    window.maps = [];

    var app = angular.module('fuzzapp');

    app.controller('ReportsController', ['$scope', '$http', function ($scope, $http) {
      $scope.report = <%= @report['report'].to_json %>;
      $scope.comments = <%= @report['comments'].to_json %>;
      $scope.tags = <%= @report['tags'].to_json %>;

      $scope.user = {
        id: gon.user_id,
        username: gon.username
      };

      $(function () {
        createMapOnReportDetails($scope.report);

        setTimeout(transformTimestamps, 500);
      });

    }]).filter('titleize', function () {
      return function(input) {
        return _.titleize(input);
      };
    });
  </script>
<% end %>

<% content_for :title do %>
  <%= @report['report']['normalized_title'] %>
<% end %>

<style type="text/css" media="all">
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
</style>

<%= erb :'partials/_notification', :layout => false %>

<div class="report-lists ng-cloak" ng-controller="ReportsController">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="padded" ng-bind="report.normalized_title"></h3>
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="reports-list" data-currentId= "<%= @user_id %>" >
        <li class="report {{report.report_type}}-report unselected" data-reportid="{{report.id}}">
          <div class="report-detail">
            <div class="report-image-div-big col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="report.img_url">
              <img ng-src="{{report.img_url}}" class="report-image-big">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="report.lat && report.lng">
              <div class="report-detail-map-canvas map-canvas">
              </div><!-- map-canvas -->
            </div><!-- col -->

            <div class="report-detail-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <br />

              <div class="row" ng-show="report.pet_size">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><p><strong>Size </strong></p></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-bind="( report.pet_size | titleize )"></div>
              </div>

              <div class="row" ng-show="report.color">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><p><strong>Color </strong></p></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-bind="(report.color | titleize)"></div>
              </div>

              <div class="row" ng-show="report.breed">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><p><strong>Breed </strong></p></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-bind="(report.breed | titleize)"></div>
              </div>

              <div class="row" ng-show="report.sex">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><p><strong>Gender </strong></p></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-bind="(report.sex | titleize)"></div>
              </div>

              <div class="row" ng-show="report.notes">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><p><strong>Notes </strong></p></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-bind="report.notes"></div>
              </div>

              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <p><strong>Last Seen</strong></p>
                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <p>
                    <span class="time" ng-bind="(report.last_seen ? report.last_seen : report.created_at) |  amUtc | amLocal | amDateFormat: 'ddd MM/DD/YYYY h:mm a'" > </span>
                    <span class="time-ago"></span>
                  </p>
                </div>
              </div>

              <div class="row" ng-show="report.report_username">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><p><strong>Posted By </strong></p></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-bind="report.report_username"></div>
              </div>
            </div>
          </div>

          <div class="tags-div col-xs-12 col-sm-12 col-md-12 col-lg-12 negative-left-margin" ng-show="tags">
            <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><strong>Keywords</strong></p>
            <ul class="tag-list col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <li class="tags" ng-repeat="tag in tags">
                <p class="btn btn-default btn-xs" ng-bind="(tag.name | lowercase)"></p>
              </li>
            </ul>
          </div>

          <comments-list></comments-list>

          <comment-form></comment-form>
        </li>
      </ul>
    </div><!-- col -->
  </div><!-- row -->
</div>


<%= erb :'partials/_report_list', :layout => false %>

<% content_for :ng_app do %>
  <%= 'ng-app="fuzzapp"' %>
<% end %>
